
// Reset de márgenes y padding

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body
body {
  font-family: $fuente-principal;
  background-color: $color-fondo;
  margin: 0;
  padding: 0;
  text-align: justify;
}

// Footer
footer {
  background-color: $color-primario;
  color: white;
  padding: $espaciado-general;
  text-align: center;
}
