// Variables de colores
$color-primario: hsl(204, 100%, 24%);
$color-secundario: #29022c;
$color-fondo: #f4f4f4;
$texto-violeta: #4d026b;

// Tipografía
$fuente-principal: 'Arial', sans-serif;

// Espaciado
$espaciado-general: 20px;
$espaciado-medio: 30px;

// Sombras
$sombra-card: 0 2px 5px rgba(0, 0, 0, 0.1);
